
.title{
    position: relative;
    top: 70px; left: 325px;
    width: 800px;
    height: 290px;
    background: #FFF0EC;
    color: #534343;
    border-radius: 10px;
    padding: 150px 40px;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 125px;
    margin-bottom: 30px;
}

.title h1{
    margin-top: -190px;
    padding-bottom: 13px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.title h2{
    text-align: center;
    font-weight: 450;
    font-size: 18.5px;
    padding-bottom: 60px;
    line-height: 25px;
}

.button{
    width: 32%;
    height: 39px;
    background-color: #3c9c9c;
    border: 3px none;
    outline: 3px none;
    border-radius: 100px;
    font-size: 20px;
    cursor: pointer;
    color: #f9f9f9;
    font-weight: 725;
    align-items: center;
    margin-top: 120px;
    margin-bottom: -30px;
    cursor: pointer;
}
